@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply m-0 p-0 w-full min-h-screen bg-slate-800 text-white;
  }
}

@media screen and (max-width: 768px) {
  @layer base {
    body {
      @apply block;
    }
    .container {
      @apply mt-16 mb-16;
    }
  }
}
